html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -6rem;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.up-1,
.down-3 {
  /* padding: 1rem; */

  flex-direction: column;
}

.up-1,
.down-3 > p {
  color: white;
  padding-left: 0.5rem;
}

.up-1 > p {
  padding-left: 0.5rem;
}

.left-portion {
  position: absolute;
  right: 0;
  clip-path: polygon(62% 0%, 100% 0%, 100% 100%, 35% 100%);
  height: 100%;
  width: 50rem;
  background-image: linear-gradient(176deg, #f0ca45, #f0ca45bf);
}
.b {
  margin-left: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  margin: 1rem;
}

img[alt="more"] {
  width: 1rem;
  height: 1rem;
}

.bottom-1 {
  font-size: 3rem;
  font-weight: bold;
}

.bottom-1 > p:nth-child(1) {
  font-size: 5rem;
}

.bottom-1 > p {
  margin: 0;
}

.bottom-1 > p:nth-child(2) {
  margin-bottom: 2rem;
}

.bottom-2 {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}
